<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search</title>
    <script type="module" src="./index.ts"></script>
  </head>
  <body>
    <nav style="margin-bottom: 15px">
      Preview
      <a href="/index.html">map</a>
      <a href="/src/components/postcode-search/example.html">postcode-search</a>
      <a href="/src/components/address-autocomplete/example.html"
        >address-autocomplete</a
      >
    </nav>
    <!-- 
      Examples (as of Feb 2022):
      SE19 1NT (Lambeth): 56 DPA addresses -> 128 LPI addresses (87 "approved"), now requires paginated fetch
      HP11 1BR (Bucks): 0 addresses, shows "No addresses found in postcode" error message
      HP11 1BC (Bucks): valid postcode according to npm package but not OS, shows OS error message
     -->
    <address-autocomplete postcode="SE5 0HU" />

    <script>
      const autocomplete = document.querySelector("address-autocomplete");

      autocomplete.addEventListener(
        "addressSelection",
        ({ detail: address }) => {
          console.debug({ detail: address });
        }
      );
    </script>
  </body>
</html>
