@import "govuk-frontend/dist/govuk/index";

:host {
  $font-family: var(
    --autocomplete__font-family,
    "GDS Transport",
    arial,
    sans-serif
  );
  $input-font-size: var(--autocomplete__input__font-size, 19px);
  $input-height: var(--autocomplete__input__height, 48px);
  $input-max-width: var(--autocomplete__input__max-width, 900px);
  $input-padding: var(--autocomplete__input__padding, 8px);
  $label-font-size: var(--autocomplete__label__font-size, 1em);
  $label-margin-bottom: var(--autocomplete__label__margin-bottom, 0.5em);

  .govuk-label,
  .govuk-label--static {
    font-family: $font-family;
    font-size: $label-font-size;
    margin-bottom: $label-margin-bottom;
  }

  .autocomplete__input {
    font-family: $font-family;
    font-size: $input-font-size;
    height: $input-height;
    padding: $input-padding;
    max-width: $input-max-width;
  }

  .autocomplete__option {
    font-family: $font-family;
    font-size: $input-font-size;
    padding: var(--autocomplete__option__padding, 5px 8px);
    border-bottom: var(
      --autocomplete__option__border-bottom,
      solid 1px #b1b4b6
    );
  }

  .autocomplete__option--focused,
  .autocomplete__option:hover,
  .autocomplete__option--focused & .autocomplete__option:hover {
    border-color: var(--autocomplete__option__hover-border-color, #1a1b1b);
    background-color: var(
      --autocomplete__option__hover-background-color,
      #1a1b1b
    );
  }

  .autocomplete__menu {
    max-height: var(--autocomplete__menu__max-height, 342px);
  }
}
