@import "govuk-frontend/dist/govuk/index";

$gov-uk-yellow: #ffdd00;
$planx-blue: #0010a4;
$planx-dark-grey: #2c2c2c;

// default map size, can be overwritten with CSS
:host {
  display: flex;
  flex-direction: column;
  width: 650px;
  height: auto;
  position: relative;
}

.map {
  width: 100%;
  height: 650px;
  opacity: 0;
  transition: opacity 0.25s;
  overflow: hidden;
  border: #000000 solid 0.15em;
}
.map:focus {
  outline: $gov-uk-yellow solid 0.25em;
}

.govuk-warning-text {
  margin-bottom: 0px;
  max-width: var(--autocomplete__input__max-width);
  padding-bottom: 0px;
}

.govuk-error-message {
  font-family: var(--autocomplete__font-family);
  font-weight: var(--autocomplete__font-weight);
}

.ol-control button {
  border-radius: 0 !important;
  background-color: $planx-dark-grey !important;
  cursor: pointer;
  min-width: 44px;
  min-height: 44px;
  font-size: 1.75rem;
}

.ol-control button:hover {
  background-color: rgba(44, 44, 44, 0.85) !important;
}

.ol-control button:focus {
  outline: $gov-uk-yellow solid 0.15em;
}

.ol-scale-line {
  background-color: transparent;
}

.ol-scale-line-inner {
  border: 0.2em solid $planx-dark-grey;
  border-top: none;
  color: $planx-dark-grey;
  font-size: 1em;
  font-family: inherit;
}

.ol-scale-bar-inner {
  display: flex;
}

.reset-control {
  top: 114px;
  left: 0.5em;
}

.reset-control img {
  width: 30px;
  height: auto;
}

.north-arrow-control img {
  width: 54px;
  height: auto;
}

.north-arrow-control {
  top: 0.5em;
  right: 0.5em;
  border-radius: 0 !important;
  background-color: transparent !important;
}

#area {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: white;
}

.ol-overlaycontainer-stopevent {
  top: 0 !important;
}

.ol-print {
  bottom: 50px;
  left: 0.5em;
}

.ol-print img {
  width: 30px;
  height: auto;
}

.ol-attribution ul {
  display: block;
}

.ol-attribution li {
  display: list-item;
}

.ol-attribution a {
  color: $planx-blue;
}

.ol-attribution a:focus {
  color: black;
  background-color: $gov-uk-yellow;
}
