// default map size, can be overwritten with CSS
:host {
  display: block;
  width: 650px;
  height: 650px;
  position: relative;
}
.map {
  height: 100%;
  opacity: 0;
  transition: opacity 0.25s;
  overflow: hidden;
  border: #000000 solid 0.15em;
}
.map:focus {
  outline: #ffdd00 solid 0.25em;
}
.ol-control button {
  border-radius: 0 !important;
  background-color: #2c2c2c !important;
  cursor: pointer;
  min-width: 44px;
  min-height: 44px;
  font-size: 1.75rem;
}
.ol-control button:hover {
  background-color: rgba(44, 44, 44, 0.85) !important;
}
.reset-control {
  top: 114px;
  left: 0.5em;
}
.reset-control img {
  width: 30px;
  height: auto;
}
.north-arrow-control img {
  width: 44px;
  height: auto;
}
.north-arrow-control {
  top: 0.5em;
  right: 0.5em;
  border-radius: 0 !important;
  background-color: none !important;
}
#area {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: white;
}
