// default map size, can be overwritten with CSS
:host {
  display: block;
  width: 800px;
  height: 800px;
  position: relative;
}
#map {
  height: 100%;
  opacity: 0;
  transition: opacity 0.25s;
  overflow: hidden;
}
#map:focus {
  outline: #d3d3d3 solid 0.15em;
}
.ol-control button {
  border-radius: 0 !important;
  background-color: #2c2c2c !important;
}
.ol-control button:hover {
  background-color: rgba(44, 44, 44, 0.85) !important;
}
.reset-control {
  top: 70px;
  left: 0.5em;
}
#area {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: white;
}
