<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search</title>
    <script type="module" src="./index.ts"></script>
  </head>
  <body>
    <nav style="margin-bottom: 15px">
      Preview
      <a href="/index.html">map</a>
      <a href="/src/components/postcode-search/example.html">postcode-search</a>
      <a href="/src/components/address-autocomplete/example.html"
        >address-autocomplete</a
      >
    </nav>
    <postcode-search
      hintText="Optional hint text shows up here"
      onlyQuestionOnPage
    />

    <script>
      const search = document.querySelector("postcode-search");

      search.addEventListener("postcodeValidated", ({ detail }) => {
        console.debug({ detail });
      });
    </script>
  </body>
</html>
