name: Run tests
on:
  pull_request:
    types: [opened, synchronize]
    branches:
      - main

env:
  PNPM_VERSION: 8.6.6
  NODE_VERSION: 18.16.1

jobs:
  vitest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4.2.0
        with:
          version: ${{ env.PNPM_VERSION }}
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "pnpm"
          cache-dependency-path: "**/pnpm-lock.yaml"
      - run: pnpm install --no-frozen-lockfile
      - run: pnpm test
        env:
          VITE_APP_OS_API_KEY: ${{ secrets.OS_API_KEY }}
          VITE_APP_MAPBOX_ACCESS_TOKEN: ${{ secrets.MAPBOX_ACCESS_TOKEN }}
